.contactos a {
    color: white;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    border-radius: 5%;
    &:hover {
        color: rgb(19, 169, 255);
        transition: 1s;
    }
}