.footer {
    background-image: url(../img/fondoFooter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 20px;

    &__h4 {
        color: $blanco;
    }

    &__a {
        padding: 20px;
        display: inline-block;
        border-radius: 5%;
        margin-top: 20px;
        margin-bottom: 20px;

        &:hover {
            transform: scale(1.5, 1.5);
            transition: 1s;
        }
    }

    &__img {
        width: 30px;
        height: 30px;
    }
}

