.footer {
    background-image: url(../img/fondoFooter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 20px;
    h3 {
        color: rgb(255, 255, 255);
    }
    a {
        padding: 20px;
        display: inline-block;
        border-radius: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}