.textForm {
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    font-size: x-large;
    max-width: 50%;
    textarea {
        overflow: auto;
        resize: none;
    }
}

.submit {
    &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        transition: 0.75s;
    }
}

::placeholder {
    color: rgb(0, 0, 0);
}

@media (max-width: 640px) {
    .textForm {
        width: 70%;
        max-width: 70%;
    }
}

@media (max-width: 400px) {
    .textForm {
        width: 90%;
        max-width: 90%;
    }
}