.textForm {
    width: 50%;
    background-color: $blanco;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: $negro;
    font-size: x-large;
    max-width: 50%;
    overflow: auto;
    resize: none;
}

.submit {
    &:hover {
        background-color: $negro;
        color: $blanco;
        transition: 0.75s;
    }
}

::placeholder {
    color: $negro;
}

@media (max-width: 640px) {
    .textForm {
        width: 70%;
        max-width: 70%;
    }
}

@media (max-width: 400px) {
    .textForm {
        width: 90%;
        max-width: 90%;
    }
}