h1 {
    color: rgb(19, 169, 255);
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    color: white;
    padding-top: 10px;
    font-size: x-large;
}

h3 {
    color: rgb(19, 169, 255);
    font-size: x-large;
}

h4 {
    font-size: large;
}

h5 {
    margin-top: 35px;
    color: white;
    font-size: large;
}