.header {
    background-image: linear-gradient(to left, $negro, $grisC);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid $azul;
    z-index: 20;

    &__img {
        width: 100px;
    }

    &__ul {
        display: flex;
        list-style: none;
        align-items: center;

        li {
            padding: 15px;

            &:hover {
                transform: scale(1.2, 1.2);
                transition: 1s;
            }

            a {
                text-decoration: none;
                color: $blanco;
                font-weight: bold;

                &:hover {
                    color: $azul;
                    transition: 1s;
                }
            }
        }
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background-color: $azul;
    color: $grisO;
}