.header {
    background-image: linear-gradient(to left, $negro, $grisC);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 20px;
    top: 0;
    border-bottom: 2px solid $azul;
    z-index: 20;
    &__img {
        width: 100px;
    }
    &__ul {
        list-style: none;
        display: flex;
        li {
            padding: 15px;
            &:hover {
                transform: scale(1.2, 1.2);
                transition: 1s;
            }
            a {
                text-decoration: none;
                color: $blanco;
                font-weight: bold;
                --color {
                    color: $azul;
                }
                &:hover {
                    color: $azul;
                    transition: 1s; 
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .header {
        flex-direction: column;
    }
}

@media (max-width: 520px) {
    .header ul {
        flex-direction: column;
    }
}