.sec {
    @extend %sec;
}

#primeraSeccion a {
    @extend %secc;
}

#segundaSeccion {
    a {
        @extend %secc;
    }
}

#terceraSeccion {
    @include estiloTexto ($negro);
    padding-top: 30px;
    padding-bottom: 15px;

    a {
        @extend %secc;
        background-color: $blanco;
    }
}