.sec {
    text-align: center;
    background-color: $grisO;
}

#primeraSeccion a {
    text-decoration: none;
    color: $azul;
    font-weight: bold;
    font-size: large;
}

#segundaSeccion {
    text-align: center;
    a {
        text-decoration: none;
        color: $azul;
        font-weight: bold;
        font-size: large;
    }
}

#terceraSeccion {
    text-align: center;
    color: $negro;
    padding-top: 30px;
    padding-bottom: 15px;
    a {
        text-decoration: none;
        color: $azul;
        font-weight: bold;
        background-color: $blanco;
        font-size: large;
    }
}